{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "globals": {
    "window": true
  },
  "rules": {
    "indent": [
        "warn",
        2,
        {
            "SwitchCase": 1
        }
    ],
    "linebreak-style": [
        "error",
        "unix"
    ],
    "semi": [
        "error",
        "never"
    ],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["warn"],
    "no-useless-escape": ["warn"],
    "no-self-assign": 0,
    "no-prototype-builtins": 0,
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}
